.chat--messages--area {
  flex: 8;
  max-height: 85svh;
  overflow-y: scroll;
}

.chat--messages--area ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 10px 40px;
}

@media only screen and (max-width: 768px) {
  .chat--messages--area ul {
    padding: 10px 10px !important;
  }
}

.chat--messages--area ul li {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
}

.chat--messages--area ul li .img {
}
.chat--messages--area ul li .img img {
  border-radius: 50%;
  height: 30px;
  width: auto;
  overflow: hidden;
}

.chat--messages--area::-webkit-scrollbar {
  opacity: 0;
  width: 6px;
}

.chat--messages--area:hover::-webkit-scrollbar {
  opacity: 1;
  width: 6px;
}

.chat--messages--area::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

.chat--messages--area:hover::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

.chat--messages--area::-webkit-scrollbar-track {
  background-color: var(--black);
}
