.chat--button--wrapper {
  position: sticky;
  background-color: var(--black);
  top: 0px;
}
.chat-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;
  background-color: var(--black);
  color: var(--white);
  outline: none;
  border: var(--black);
  box-shadow: none;
}

.chat-button:hover {
  background-color: var(--transp);
}

.gpt-cl-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.gpt-cl-btn-txt {
  font-size: 14px;
  pointer-events: none;
}
